//行为颜色
$ssc-color-primary: #28C76F;
$ssc-color-primary-light: #99E265;
$ssc-color-item-green: #19DBCC;
$ssc-color-item-blue: #409eff;
$ssc-color-item-purple: #9293F0;

$ssc-color-border-grey: #d6d6d6;
$ssc-color-text-bg: #ebebeb;

//边框尺寸
$ssc-border-radius-circle: 50%;
$ssc-border-radius-card: 10%;

//文字相关
$ssc-color-title: #222;
$ssc-font-size-title: 52rpx;
$ssc-color-subtitle: #333;
$ssc-font-size-subtitle: 40rpx;
$ssc-color-paragraph: #666;
$ssc-font-size-paragraph: 36rpx;
$ssc-color-hint: #ababab;
$ssc-font-size-hint: 28rpx;
